$main_color: #292F36
$attention_color: #CDA274
$low_attention_color: #F4F0EC
$ligth_border_color: #E7E7E7
$contentWidth: 1200px
$basicFontSize: 20

*
    margin: 0
    padding: 0

html
    font-size: ($basicFontSize)+px

.center
    padding-left: 100% - $contentWidth
    padding-right: $contentWidth
    background-color: $low_attention_color

.displyText
    font-family: 'DM Serif Display'
    font-style: normal
    font-weight: 400
    font-size: (85/$basicFontSize)+rem
    line-height: 125%

.h1Text
    font-family: 'DM Serif Display'
    font-style: normal
    font-weight: 400
    font-size: (50/$basicFontSize)+rem
    line-height: 125%
.h2Text
    font-family: 'DM Serif Display'
    font-style: normal
    font-weight: 400
    font-size: (35/$basicFontSize)+rem
    line-height: 125%
.h3Text
    font-family: 'DM Serif Display'
    font-style: normal
    font-weight: 400
    font-size: (25/$basicFontSize)+rem
    line-height: 125%
.h4Text
    font-family: 'DM Serif Display'
    font-style: normal
    font-weight: 400
    font-size: (22/$basicFontSize)+rem
    line-height: 125%
.h5Text
    font-family: 'DM Serif Display'
    font-style: normal
    font-weight: 400
    font-size: (20/$basicFontSize)+rem
    line-height: 125%
.h6Text
    font-family: 'DM Serif Display'
    font-style: normal
    font-weight: 400
    font-size: (18/$basicFontSize)+rem
    line-height: 125%

.pLargeText
    font-family: 'Jost'
    font-style: normal
    font-weight: 400
    font-size: (22/$basicFontSize)+rem
    line-height: 150%
.pMediumText
    font-family: 'Jost'
    font-style: normal
    font-weight: 400
    font-size: (20/$basicFontSize)+rem
    line-height: 150%
.pSmallText
    font-family: 'Jost'
    font-style: normal
    font-weight: 400
    font-size: (18/$basicFontSize)+rem
    line-height: 150%

.someDivText
    font-family: 'Jost'
    font-style: normal
    font-weight: 400
    font-size: (22/$basicFontSize)+rem
    line-height: 150%
.someDivBoldText
    font-family: 'Jost'
    font-style: normal
    font-weight: 700
    font-size: (22/$basicFontSize)+rem
    line-height: 150%
.someDivItalicText
    font-family: 'Jost'
    font-style: italic
    font-weight: 400
    font-size: (22/$basicFontSize)+rem
    line-height: 150%
